[submodule "docker-example-omero-websockets"]
	path = docker-example-omero-websockets
	url = git://github.com/ome/docker-example-omero-websockets.git

[submodule "ansible-example-omero-onenode"]
	path = ansible-example-omero-onenode
	url = git://github.com/ome/ansible-example-omero-onenode.git