# public user doesn;t share omero session between visitors
#config set omero.sessions.timeout 3600000
#config set omero.policy.binary_access "+read,+write,-image,-plate"

# web
#config set omero.web.application_server "wsgi-tcp"
#config set omero.web.application_server.max_requests 300
#config set omero.web.wsgi_timeout 30
#config set omero.web.wsgi_args -- '--forwarded-allow-ips=YOUR_IP'

# public user
config set omero.web.public.enabled True
config set omero.web.public.server_id 1
config set omero.web.public.user public
config set omero.web.public.password changeme
config set omero.web.public.url_filter ^/(webadmin/myphoto/|mapr/|webclient/(?!(action|annotate_(file|tags|comment|rating|map)|script_ui|ome_tiff|figure_script))|webgateway/(?!(archived_files|download_as)))

